@model ProductModel
@{
    var product = Model;
    List<Category> Categories = ViewBag.Categories;
}

<h3 class="h3">Update product</h3>
<hr />

<form asp-controller="admin" asp-action="updateProduct" method="post">
    <input type="hidden" asp-for="@product.Id" value="0" />
    <div class="text-danger" asp-validation-summary="All">

    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control">
        <span class="text-danger" asp-validation-for="@product.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <input asp-for="ImgUrl" class="form-control">
        <span class="text-danger" asp-validation-for="ImgUrl"></span>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsApproved">
        <label class="form-check-label" asp-for="IsApproved"></label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsHome">
        <label class="form-check-label" asp-for="IsHome"></label>
    </div>
        <div class="form-group">
            <Label>Categories</Label>
            @foreach (var category in Categories)
            {
                <div class="from-check">                 
                    <label>
                        <input type="checkbox"
                               name="categoryIds"
                               value="@category.Id"
                               class="from-check-input" 
                               @if (Model.SelectedCategories !=null)
                               {
                                    @(Model.SelectedCategories.Any(i=>i.Id==category.Id)?"checked":"")
                               }
                              
                               /> @category.Name
                        </label>
                </div>
            }

</div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>